// Fonts
$main_font: 'Roboto', sans-serif;

// Media queries
$cellphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #E8505B;
$secondary: #455A64;
$black: #000;
$white: #fff;
$graylight: #eceeef;

// Units
$gap: 5rem;
